.header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .header-banner {
        height: 100%;
    }

    .header-loading {

    }
    
}

.header.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    height: 58vh;
    background-image: url('../../assets/backgrounds/current-header-70.png');
}
