<div>
  <app-header #header></app-header>
  <div id="chaos-intro">
    <span class="title">Chaos</span>
    <span class="intro">...was, according to Greek mythology, the origin of everything, and the first thing that ever existed. It was the primordial void, the source out of which everything was created, including the universe and the gods.
      Travel in this tree of greek mythology starting from his first daughter, Gaia.
    </span>
    <hr>
  </div>
  <div style="padding: 8px">
    <app-divinity *ngFor="let deity of divinityTree; let level = index"
      [divinity]="deity"
      [childrenActive]="level != 0"
      [children]="filterDivinityChildren(deity)"
      [treeLevel]="level"
      (diviSelectedListener)="this.onDivinitySelected($event)">
    </app-divinity>
  </div>
</div>
